version: '3'
services:
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    # environment:
    #   - MONGO_INITDB_ROOT_USERNAME=root
    #   - MONGO_INITDB_ROOT_PASSWORD=foobar
    volumes:
      - mongo-data:/data/db
volumes: 
  mongo-data:
